@charset "utf-8";
/* CSS Document */

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
} 
.wrap {
    display: flex;
    height: calc(100% - 120px);
}
header {
    width: 200px;
    background: lightblue;
}
.contents {
    width: 400px;
    background: lightcoral;
}
.slide {
    width: calc(100% - 600px);
    background: lightgreen;
}
footer {
    height: 120px;
    background-color: yellow;
}